<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars App</title>
  </head>
  <body>
    <!-- views/index.ejs -->
    <button>
    <a href="/cars">Browse Cars</a>
    </button>

    <h1>Welcome to the Cars app!</h1>
    
    <!-- new code below this line -->
    <img
      class="car-pic1"
      src="/home/yousif/code/ga/labs/men-stack-crud-app-lab/public/car-pic.png"
      alt="My car "
    />
    <p>An app for collecting your favorite cars.</p>
  </body>
</html>